# This file is modified from following example.
# https://github.com/Klipper3d/klipper/blob/master/config/printer-anycubic-kossel-plus-2017.cfg
# Some of settings are from below Lukas's guide.
# https://www.lpomykal.cz/anycubic-kossel-klipper-configuration/
# MCU is changed from original Trigorilla to BIGTREETECH SKR 2.0
# Please comple firmware for stm32f407.
# TMS2800 is employed for stepper with UART control. 
# Confirmed with Fysetc one, might work with almost models.

[stepper_a]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
homing_speed: 20
# The next parameter needs to be adjusted for
# your printer. You may want to start with 280
# and meassure the distance from nozzle to bed.
# This value then needs to be added.
position_endstop: 295.6
arm_length: 269.0

[stepper_b]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3

[stepper_c]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0

[extruder]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 33.333
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
control: pid
pid_Kp: 25.349
pid_Ki: 1.216
pid_Kd: 132.130
min_extrude_temp: 180
min_temp: 0
max_temp: 275

########################################
# TMC2208 configuration
########################################

# For TMC2208 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

[tmc2208 stepper_a]
uart_pin: PE0
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 250

[tmc2208 stepper_b]
uart_pin: PD3
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 250

[tmc2208 stepper_c]
uart_pin: PD0
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 250

[tmc2208 extruder]
uart_pin: PC6
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 250

[heater_bed]
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
control: pid
pid_kp: 73.517
pid_ki: 1.132
pid_kd: 1193.728
min_temp: 0
max_temp: 130

[fan]
pin: PB7
#   Output pin controlling the fan. This parameter must be provided.
kick_start_time: 0.200
#   Time (in seconds) to run the fan at full speed when either first
#   enabling or increasing it by more than 50% (helps get the fan
#   spinning). The default is 0.100 seconds.

[heater_fan extruder_cooler_fan]
pin: PB6

[controller_fan my_controller_fan]
pin: PB5
max_power: 0.6
kick_start_time: 0.2
idle_timeout: 5
heater: extruder


# if you want to use your probe for DELTA_CALIBRATE you will need that
[probe]
pin: ^PE4
#   Probe detection pin. If the pin is on a different microcontroller
#   than the Z steppers then it enables "multi-mcu homing". This
#   parameter must be provided.
z_offset: 14.771
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
samples: 3
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_28003F001247393437363439-if00

[printer]
kinematics: delta
max_velocity: 500
max_accel: 3000
max_z_velocity: 200
delta_radius: 134.4
# if you want to DELTA_CALIBRATE you may need that
minimum_z_position: -5

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[idle_timeout]
timeout: 360

[pause_resume]

[delta_calibrate]
radius: 115
# If the original probe is used
horizontal_move_z: 20

# "RepRapDiscount 2004 Smart Controller" type displays
[display]
lcd_type: hd44780
rs_pin: EXP1_4
e_pin: EXP1_3
d4_pin: EXP1_5
d5_pin: EXP1_6
d6_pin: EXP1_7
d7_pin: EXP1_8
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8
